h2{
    font-size: 140%;
}

.download-csv{
    margin-top: -100px;
}

body{
    font-size: 75%;
}

i{
    margin-right: 5px;
}

.forsearch{
    position:relative;
    margin-left:-22px;
    top:-13px;
    z-index:2;
}

.form-inline{
    white-space: nowrap;
}

.entity-dialog{
    width: 100%;
}

input.entity-input {
    width: 82%;
    height: 2em;
    margin-right: 0;
    border-radius: 0;
}

button.entity-input {
    width: 2.1em;
    height: 2.7em;
    margin-left:0;
    border:0;
}

.entrity-group {
    background: #efefef;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #a0a0a0;
    margin-bottom: 15px;
    padding-bottom: 1em;
}

hr{
    border-color: #e0e0e0;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

li.entity {
    cursor: pointer;
    display: block;
    margin-left: -25px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 10px;
    /*padding-right: 8px;*/
    padding-top: 0px;
    padding-bottom: 1px;
    min-height: 30px;
    list-style-type: none;
	border-left: 1px solid rgba(236, 234, 255, 1);
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: #b0b0b0; */
    background-color: #fff;
}

ul ul li.entity{
	margin-top: 5px;
	margin-bottom: 5px;
}

div.row-fluid.scroll{
	height: 470px;
	overflow: auto;
}
div.row-fluid.scroll::-webkit-scrollbar {
    width: 5px;
}

div.row-fluid.scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.pull-right {
    font-weight: bold;
    margin: 5px 5px 0 0;
}

.pull-left {
    margin-top: 8px;
}
.navbar-tutorial{
	margin-right: 20px;
}

.navbar-tutorial div {
	display: inline-block;
}

.name{
    display: inline-block;
    min-width: 10%;
    max-width: 68%;
	margin: 5px 0 5px 5px;
    cursor: text;
}

.clear {
    clear: both;
}

.sup {
    font-size: 0.6em;
    margin-top: 1px;
    margin-left: -0.5em;
}

.alt-decomp {
    border-style: solid;
    border-width: 1px;
    width: 44%;
    float: left;
}

.alt-decomp > li {
    margin: 0;
}

/* Jquery-sortable CSS */
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000;
}

li.active {
    background-color: rgb(137, 203, 255);
	border-right: 1px solid rgb(137, 203, 255);
}

#requirement li.active.requirement,
#function li.active.function,
#artifact li.active.artifact,
#behavior li.active.behavior,
#issue li.active.issue,
#usescenario li.active.usescenario {
    background-color: rgb(255, 194, 0);
}

li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

#requirement li.placeholder.requirement:before,
#function li.placeholder.function:before,
#artifact li.placeholder.artifact:before,
#behavior li.placeholder.behavior:before,
#issue li.placeholder.issue:before,
#usescenario li.placeholder.usescenario:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -2em;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: black; 
    border-right: none;
}

/*Tutorial Prompt*/
#tutorial_prompt{
	min-height: 100px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 82%;
	color: #000000;
	border: 2px solid #51C5FF;
	border-radius: 8px;
	font-size: medium;
	padding: 5px 0;
}
#promptBox{
	margin: 10px 0 8px;
	color: #D00000;
}
#promptButton{
	clear: both;
	cursor: pointer;
	width: 70px;
	height: 30px;
	border-radius: 4px;
	background-color: #5CD2D2;
	border: none;
	text-align: center;
	line-height: 10px;
	color: #FFFFFF;
	margin: 5px 50px;
}
#promptButton.decisionButton{
	width: 45px;
	margin: 5px;
}
#promptButton.disabled{
	background-color: #CFCFCF;
}
table#tutorial{
	font-size:13px;
	line-height: 15px;
}

.overlay.active{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.2); /*dim the background*/
  position: absolute;
}
.overlay.active #facebook{
	margin-top:30px;
	position: fixed;
	top: 50%;
	left: 50%;
}
.overlay.active .facebook_block{
	background-color:#9FC0FF;
	border:2px solid #3B5998;
	float:left;
	height:30px;
	margin-left:5px;
	width:8px;
    opacity:0.1;
	-webkit-transform:scale(0.7);
	-webkit-animation-name: facebook;
 	-webkit-animation-duration: 1s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
}
.overlay.active #block_1{
 	-webkit-animation-delay: .3s;
 }
.overlay.active #block_2{
 	-webkit-animation-delay: .4s;
}
.overlay.active #block_3{
 	-webkit-animation-delay: .5s;
}
@-webkit-keyframes facebook{
	0%{-webkit-transform: scale(1.2);opacity:1;}
	100%{-webkit-transform: scale(0.7);opacity:0.1;}
}
#edit-subtype-menu.active{
	display: block;
	padding: 20px;
	left: 40%;
	top: 40%;
}
#sketchpad-container.active{
	display: block;
	padding: 20px;
	left: 38%;
	top: 30%;
}
#sketchpad-container svg{
	border: 2px solid rgba(192, 238, 255, 1);
}
.container-fluid{
	position: relative;
}
